<h1>OFERTAS DE TRABAJO</h1>

<div class="card " style="width: 15rem; height: 26rem;  ">
  <img class="card-img-top" src="./assets/empleo.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title"> Empleos</h4>
    <p class="card-text"> busca por medio de nuestro
    filtro el empleos practicas y otas cosas mas </p>

    <form class="form-inline">
      <label class="mr-sm-2" for="inlineFormCustomSelect">Preference</label>
      <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
        <option selected>tiempo completo</option>
        <option value="1">Fijos </option>
        <option value="2">Medio tiempo</option>
        <option value="3">Practicas</option>
      </select>
      <button type="submit" text-center  class="btn btn-primary"> Buscar </button>
    </form>



  </div>
</div>

<div class="card  " >
  <img class="card counded float-right " src="./assets/imagen.jpg  " >
  <div class="card-block">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
